<!-- public/views/home.html -->

<div id='outerContainer' ng-style="{'background-image': 'url('+image+')'}" class="jumbotron text-center">
	<div class='blackBox' ng-if='welcome && currentVisitor != null && !agenda'>
		<h1>Welcome</h1>
		<h1>{{currentVisitor.customer_name}}</h1>
	</div>

	<div class='blackBox' ng-if='!welcome && currentVisitor == null && !agenda'>
		<h1>Welcome to The Briefing Center</h1>
	</div>
  
  <div id='agenda' ng-if='agenda'>
  	<table>
	  	<thead>
	  		<tr>
	  			<th colspan='100%'>
	  				<h2 id='header'>Agenda</h2>
	  			</th>
  			</tr>
	  	</thead>
	  	<tbody>
	  		<tr ng-repeat='event in currentEvents'>
	  			<td>
	  				<h3 class='left'>{{event.event}}</h3>
	  				<h3 class='right'>{{event.event_start | amDateFormat:'h:mm a'}}</h3>
	  			</td>
	  		</tr>
	  	</tbody>
  	</table>
  </div>
</div>