@font-face {
    font-family: latoReg;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latoRegItal;
    src: url(../fonts/Lato-RegularItalic.ttf);
}

body { 
	padding-top:30px;
}

h1 {
  color: #fff !important;
  font-family: latoReg;
}

div .blackBox { 
  display:inline-block;
  padding-top: 30px;
  margin:0 auto;
  margin-top: 130px;
  width: 700px;
  height: 300px;
  text-align: center;
  background-color:rgba(0,0,0,0.7);
}

table {
  width: 100%;
}

thead {
  border-bottom: 1px solid #fff;
}

tbody .left {
  display: inline-table;
  float: left;
  color: #fff;
  font-family: latoReg;
}

tbody .right {
  display: inline-table;
  float: right;
  color: #fff;
  font-family: latoReg;
}

#outerContainer {
	width: 1280px;
	height: 720px;
}

#header {
  text-align: left;
  color: #fff;
  font-family: latoReg;
}

#agenda {
	display:inline-block;
	padding-top: 0px;
  margin:0 auto;
	margin-top: 130px;
  width: 700px;
  height: 300px;
  text-align: center;
  background-color:rgba(0,0,0,0.7);
}
